<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mayoi7.easyshop.server.mapper.InventoryMapper">
  <resultMap id="BaseResultMap" type="com.github.mayoi7.easyshop.po.Inventory">
    <!--@mbg.generated-->
    <!--@Table inventory-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, commodity_id, quantity
  </sql>

  <select id="selectByCommodity" resultMap="BaseResultMap">
    select * from inventory where commodity_id = #{commodityId} limit 1;
  </select>
</mapper>